[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "chemometrics"]
	path = chemometrics
	url = https://github.com/cran/chemometrics
	shallow = true
	registered = true
[submodule "mvoutlier"]
	path = mvoutlier
	url = https://github.com/cran/mvoutlier
	shallow = true
	registered = true
